ul.navbar-horizontal {
    display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: center;
      justify-content:center;
    li {
      -webkit-flex: 1 auto;
      flex: 1 auto;
      text-align: center;
      font-size: 22px;
      padding: 0 2px;
    }
    li.navbar-link-primary {
      transform: scale(1.6);
      margin-left: 15%;
      margin-right: 15%;
    }
    .dropdown-menu.dropdown-menu-fixed-bottom {
      position: absolute;
      bottom: 25px;
      /* left: -90%; */
      width: 180px;

      background-color: transparent;
      border: 0;
      box-shadow: none;

      a {
        i {
          width: 22px;
          display: inline-block;
          text-align: center;
        }
      }
    }

    .dropdown-menu.dropdown-menu-fixed-bottom.left {
      left: 1%;
    }
    .dropdown-menu.dropdown-menu-fixed-bottom.center {
      left: -129%;
    }
    .dropdown-menu.dropdown-menu-fixed-bottom.right {
      left: -265%;
    }

  }
  
